<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
  <form action="#" method="POST">
    <div class="form-group">
    <label for="exampleFormControlSelect1">Specify a number of epochs</label>
      <select class="form-control" name="epochs">
        <option>500</option>
        <option>1000</option>
        <option>1500</option>
        <option>2000</option>
        <option>2500</option>
      </select>
    </div>
    
    <div class="form-group">
      <label for="exampleFormControlSelect2">Specify a gamma</label>
        <select class="form-control" name="gamma">
          <option>0.8</option>
          <option>0.9</option>
          <option>0.95</option>
          <option>0.97</option>
          <option>0.99</option>
        </select>
      </div>
    <input type="submit" class="btn btn-primary"></input>
  </form>

</body>
</html>
